<app-highchart></app-highchart>
<app-add-debt-bar></app-add-debt-bar>

<h2>March</h2>
<h3>Bill Due Dates:</h3>
<li style="color: green"><b>Xfinity:</b> 13th $60.02 PAID</li>
<li><b>Phone: </b> 24th $140</li>
<li style="color: green"><b>Electricity:</b> 30th $50 PAID</li>
<br />
<h3>Debts:</h3>
<li style="color: green"><b>Climb Credit:</b> 29th $85 PAID</li>
<li style="color: green"><b>One Main</b> $300 PAID</li>
<li style="color: green"><b>Klarna</b> 26th $25 PAID</li>
<li><b>Google Fi Synchrony</b> 15th $40</li>
<br />
<h3>Credit Cards</h3>
<li style="color: green"><b>Capital One Savor</b> $75 2nd PAID</li>
<li><b>Capital One Platinum</b> 10th</li>
<li><b>Bank of America</b> 5th</li>
<br />
<h3>Re-occuring Services</h3>
<li><b>Amazon Prime</b> 17th $14</li>
<li><b>DAZN</b></li>
<li><b>Disney</b></li>
<li><b>ESPN+</b></li>
<br />
<h3>Plan for finances</h3>
<p>Plan is based on 2 checks of $2700</p>
<li>10% Giving = $270</li>
<li>30% Towards Debt = $810</li>
<li>10% Savings = $270</li>
<li>Rest towards bills and living = $1350</li>
